.card_card_registration.my-4 {
    border: 0;
}

.img_background_register {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.header {
    display: flex;
    align-items: center;
}

.logo_title {
    border-radius: 0.3em;
    margin-right: 20px;
    position: relative;
    width: 3em;
    height: 3em;
}