.input{
    margin-top: 6px;
    margin-right: 6px;
    line-height: 1.2;

}

.container {
    width: 100%;
    margin: 0 auto;
}
.container-login {

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #c4ffeb;


}